.Topbarsection{
    width: 100%;
    height: 54px;
    background-color: rgba(241, 239, 239, .6);
    backdrop-filter: blur(10px);
    padding-left: 5px;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    display: flex;
}

.Topbarsection .MusicPlayersection {
    width: 250px;
    display: flex;
    padding-left: 150px;    
}

.Topbarsection .Volumebar{
    padding-right: 100px;
    padding-left: 50px;
    color: white;
}

.Signin{
    width: 400px;
    padding-right: 50px;
    padding-left: 200px;
    display: flex;

}
.Music{
    height: 44px;
    width: 500px;
    margin-left: 100px; 
    margin-bottom: 5px;
    background-color: lightgray;
}

input[type="range"] {
    accent-color:black;
    top: -17px;
    width: 462px;
    max-width: 900px;
    margin-left: 44px;
    left: -5px;
    height: 3px;
    grid-area: track;
    position: relative;
}

.logo{
    display: flex;
    width: 44px;
    height: 44px;
}

#Songlogo{
    width: 44px;
    height: 44px;
}

.songTitle{
    position: relative;
    width: 500px;
    text-align: center;
    top: -60px;
}

.songTitle p {
    font-size: 14px;
    font-weight: bold;
}

.songDescription{
    position: relative;
    width: 500px;
    text-align: center;
    top: -72px;
}

.songDescription p {
    font-size: 14px;
}

.VolumSlider{
    padding-left: 50px;
    padding-top: 7px;
}

.MusicPlay{
    position: relative;
    top: -94px;
}

.signin{
    margin-left: 300px;
    margin-top: 3px;
}

.logout{
    font-family: IBM Plex Sans,sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    cursor: pointer;
    background: #fff;
    border: 1px solid #DAE2ED;
    color: #1C2025;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}