.leftMenu {
    width: 246px;
    height: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #f1efef99;
    border-right: 1px solid rgba(0, 0, 0, .15);
    backdrop-filter: blur(10px);
    padding-left: 25px;
    padding-right: 25px;
    overflow: hidden;
    transition: all 0.3s ease;
    font-family: -apple-system,BlinkMacSystemFont,Apple Color Emoji,SF Pro,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;  
}

.leftMenu .logoContainer {
    color: black;
    display: flex;
    align-items: center;
}    

.leftMenu .logoContainer i{
    font-size: 15px;
    padding-right: 10px;
}

.leftMenu .logoContainer h2{
    font-size: 20px;
}

.searchBox{
    width: 100%;
    height: 100%;
    background-color: lightgray;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
}

.searchBox input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 45px;
}

.searchBox .searchIcon{
    position: absolute;
    width: 45px;
    height: 45px;
    top: 5px;
    left: 0;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    color: gray;
}

.BrowseSection{
    width: 100%;
    height: 30px;
    position: relative;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 10px;
}

.BrowseSection .BrowseButton{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 550;
    padding-left: 0px;
    font-family: -apple-system,BlinkMacSystemFont,Apple Color Emoji,SF Pro,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.BrowseSection .BrowseIcon{
    
    position: absolute;
    width: 45px;
    height: 30px;
    top: 0px;
    left: 0;
    text-align: center;
    line-height: 45px;
    font-size: 10px;
    color: red;
}

.listsContainer {
    margin: 15px 0;
}

.listsContainer .title {
    color: darkgray;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: -apple-system,BlinkMacSystemFont,Apple Color Emoji,SF Pro,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}

.listsContainer ul {
    width: 100%;
    padding: 0;
}

.listsContainer ul li {
    list-style: none;
}

.listsContainer ul li a{
    text-decoration: none;
    color: gray;
    font-size: 15px;
    top: 0px;
}

.listsContainer ul li a i{
    padding-right: 10px;
    font-size: medium;
    color: red;
}

.listsContainer ul li a span{
    font-weight: 600;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0,0,0,.88);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-bar-container {
    padding-top: 20vh;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
  }

  #Browse-btn
  {
    font-size: medium;
  }
